## Mostrar linhas
set linenumbers

## Correção automática de indentação para Python
set autoindent

## Mostrar numero de colunas
set constantshow

## Largura de página
set fill 80

## Verificador ortografico
set speller "aspell -c"

## Realce de sintaxe instalado em ~/.nano
include "~/.nano/*.nanorc"
