## Mostrar linhas
set linenumbers

## Correção automática de indentação para Python
set autoindent

## Mostrar numero de colunas
set constantshow

## Largira de página
set fill 80

## Verificador ortografico
set speller "aspell -c"
